---
import type { ContainerProps } from "../../types/elements/ContainerProps";

const {
  id: idName = "",
  variant = "default",
  class: extraClass = "",
} = Astro.props as ContainerProps;

const baseClass = "max-w-7xl mx-auto";
const variantClasses = {
  default: "px-6",
  compact: "px-4",
};
const paddingClass = variantClasses[variant] ?? variantClasses.default;

const finalClass = `${baseClass} ${paddingClass} ${extraClass}`.trim();
---

<div id={idName || undefined} class={finalClass}>
  <slot />
</div>