---
import Container from "./Container.astro";
import Section from "./Section.astro";

---

<footer class="bg-brand-secondary">
    <Section>
        <Container>
            <div class="flex">
                <div class="w-full pt-6">
                    <img src="/images/evolutif.svg" alt="" class="h-auto w-56">
                    <div class="flex items-center gap-2 mt-4">
                        <p class="font-display text-sm">
                            All rights reserved 2025
                        </p>
                        <img src="/images/flag-argentina.svg" alt="" class="w-9 h-auto">
                        <img src="/images/flag-brasil.svg" alt="" class="w-9 h-auto">
                    </div>
                </div>
                <div class=" text-center border-l-2 border-r-2 px-12 w-full max-w-2xs pt-8">
                    <h4 class="font-display font-semibold text-xl mb-4">
                        FOLLOW US
                    </h4>
                    <div class="flex items-center justify-center gap-3">
                        <a href="#" target="_blank">
                            <img src="/images/icon-instagram.svg" alt="" class="w-8 h-auto">
                        </a>
                        <a href="#" target="_blank">
                            <img src="/images/icon-linkedin.svg" alt="" class="w-8 h-auto">
                        </a>
                    </div>
                    
                </div>
                <div class="w-full px-12">
                    <div class="flex items-center gap-10 ">
                        <h4 class="text-brand-primary text-2xl tracking-[4px] whitespace-nowrap">
                            Evolutify HQ
                        </h4>
                        <div class="font-display font-light w-full">
                            <a href="#" class="flex items-center gap-2 mb-2">
                                <img src="/images/icon-whatsapp.svg" alt="" class="w-8 h-auto">
                                <span>
                                    +54 11 66950476
                                </span>
                            </a>
                            <a href="#" class="flex items-center gap-2 mb-2">
                                <img src="/images/icon-envelope.svg" alt="" class="w-8 h-auto">
                                <span>
                                     contactus@evolutif.ar
                                </span>
                            </a>
                            <div class="flex items-center gap-2 min-w-60">
                                <img src="/images/icon-point.svg" alt="" class="w-8 h-auto">
                                <span>
                                    Río de Janeiro. Brazil <br>
                                    Buenos Aires. Argentina
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Container>
    </Section>
</footer>