---
import Container from "./Container.astro";
import Nav from "./Nav.astro";

const img = {
  logo: `${Astro.site}/images/evolutif.svg`,
};

---

<header class="absolute top-0 left-0 w-full py-6">

    <Container>
        <div class="flex items-center justify-between py-4">
            <a href="#home-link">
                <img 
                    src={img.logo}    
                    alt="Evolutif Logo" 
                    class="w-full h-auto max-w-2xs"
                />
            </a>
            <Nav/>
        </div>
    </Container>

</header>