---
---

<nav class="hidden md:block font-display font-semibold z-10">
    <ul
        class="flex gap-6">
        <li>
            <a 
                href="#home"
                class="text-white text-xl border-transparent border-b-2 hover:border-white transition-all"
                id="home-link">
                Home
            </a>
        </li>
        <li>
            <a 
                href="#services"
                class="text-white text-xl border-transparent border-b-2 hover:border-white transition-all"
                id="services-link">
                Services
            </a>
        </li>
        <li>
            <a 
                href="#evolutif"
                class="text-white text-xl border-transparent border-b-2 hover:border-white transition-all"
                id="evolutif-link">
                The Evolutif way
            </a>
        </li>
        <li>
            <a 
                href="#contact"
                class="text-white text-xl border-transparent border-b-2 hover:border-white transition-all"
                id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</nav>