---
---

<nav class="font-display font-semibold">
    <ul
        class="flex gap-4">
        <li>
            <a 
                href="#"
                class="text-white text-xl"
                id="home-link">
                Home
            </a>
        </li>
        <li>
            <a 
                href="#"
                class="text-white text-xl"
                id="services-link">
                Services
            </a>
        </li>
        <li>
            <a 
                href="#"
                class="text-white text-xl"
                id="evolutif-link">
                The Evolutif way
            </a>
        </li>
        <li>
            <a 
                href="#"
                class="text-white text-xl"
                id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</nav>